In [22]:
import pandas as pd

In [23]:
adult_data = pd.read_csv(r"C:\Users\ASUS\Desktop\Machine Learning\Income-Prediction-Project\adult\adult.data", header=None)

In [24]:
# Open the file for reading
with open(r"C:\Users\ASUS\Desktop\Machine Learning\Income-Prediction-Project\adult\adult.test", "r") as file:
    lines = file.readlines()  # Read all lines into a list

# Remove the first line
lines = lines[1:]

# Open the file for writing
with open(r"C:\Users\ASUS\Desktop\Machine Learning\Income-Prediction-Project\adult\adult.test", "w") as file:
    file.writelines(lines)  # Write the remaining lines back to the file

In [25]:
adult_test = pd.read_csv(r"C:\Users\ASUS\Desktop\Machine Learning\Income-Prediction-Project\adult\adult.test", header=None)

In [26]:
df = pd.concat([adult_data,adult_test])
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16275,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
16276,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.
16277,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
16278,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
16279,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

# Cleaning and Preprocessing